.parallax{
  background: url('/img/Tlo/dzungla.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
// , '/img/Tlo/pustynia.jpg', '/img/Tlo/woda.jpg'
.parallax2{
  background: url('/img/Tlo/pustynia.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.parallax3{
  background: url('/img/Tlo/woda.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
